<%= simple_form_for @product do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  
  <%= f.input :description %>
  
  <%= f.input :image, label: 'Image-URL eingeben', %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="field">
    <%= form.label :product_group_id %>
    <%= form.text_field :product_group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
