<!DOCTYPE html>
<html>
<head>
  <title>Wrapper</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %>
    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#sidemenu" data-offset="15">
    
  <%= render 'layouts/welcome' if current_page?(root_url) %>
  <%= render 'layouts/top_navigation' %>
  <%= render 'layouts/cart' %>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <%= yield %>
      </div>

      <div class="col-xs-6 position-sticky">
        <div class="cart-text"><%= render 'layouts/cart_text' %></div>
      </div>
    </div>
    <hr>
    
  </div>

</body>
</html>
