<!DOCTYPE html>
<html>
<head>
  <title>Wrapper</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
  <% else %>
    <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js' %>
    <%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %>
    <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/notifications' %>
  <%# if controller.controller_name == "carts" || controller.controller_name == "pages" %>
  <% if controller.controller_name == "pages" %>
  <article>
    <div class="container-fluid">
      <%= render 'layouts/welcome' if current_page?(root_url) %>
      <%= render 'layouts/top_navigation' %>
      <div class="row">
        <div class="col-7">
          <div class="content-section">
            <%= yield %>
          </div>
        </div>
        <div class="col-4">
          <%= render 'layouts/cart_text' %>          
        </div>
      </div>
    </div>
  </article>
  <% else %>
    <%= render 'layouts/top_navigation' %>
    <div class="container">
      <div class="row">
        
        <%= yield %>
        
      </div>
    </div>
  <% end %>
</body>
</html>
